<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="static/content/style.css" />
    <script type="text/javascript" src="static/scripts/main.js"></script>
</head>
<body onload="start()">
    <div id="addAShow">
        <button onclick="getAddShowForm()">Add Show</button>
    </div>
    <div id="displayShowList">
        <table id="showTable">

        </table>
    </div>
    <div id="displayEpisodeList">
        <table id="episodeTable"></table>
    </div>
</body>
</html>
